.contact-section{
    background-color: #5E3AEE;
}
.flex-con{
    display: flex;
    justify-content: center;
    padding: 39px 100px;
    gap: 100px;
}
#mess h1{
    color: white;
    margin-bottom: 20px;
}
#mess p{
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 400px;
    margin-bottom: 70px;
}
#mess img{
    width:435px ;   
}
form{
    display: grid;
    gap: 10px;
    width: 450px;
}
label{
    color: white;
    font-size: 20px;
}
input{
    width: 483px;
    height: 53px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    border: 3px solid rgb(255, 255, 255);
    font-weight: 700;
    padding: 10px;
}
textarea{
    height: 150px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    border: 3px solid rgb(255, 255, 255);
    font-weight: 700;
    padding: 10px;
}
button{
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    border: 3px solid rgb(255, 255, 255);
    font-weight: 700;
}
footer{
    height: 300px;
    background-color: rgb(0, 0, 0);
    opacity: ;
    color: rgb(255, 255, 255);
}
.log{
    display: flex;
    gap: 100px;
    margin: 0px 200px;
}
.log h1{
    font-size: 20px;
    padding: 30px 0px;
    justify-content: center;
}
.log i{
    font-size: 18px;
    margin: 0 10px;
}
.foot{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-weight: 200px;
    font-size: 10px;
}