.card-group h1{
    text-align: center;
    margin: 0 40px;
    color: white;
    font-size: 60px;
    font-weight: 700px;
}
.card-group{
    display: grid;
}

.pic{
    display: grid;
    margin: 30px 0;
}
.pic img{
    width: 200px;
    border-radius: 300px;
    position: relative;
}
.back{
    background-color: rgb(70, 66, 66);
    width: 380px;
    height: 250px;
    border-radius: 10px;
    z-index: 2;
    margin-top: -90px;
    margin-left: 80px;
    opacity: 0.9;
}
.pic p{
    padding-left: 25px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.pic i{
    margin-left: 25px;
}
.pic .icon{
    margin-top: 50px;
    color: white;
}

.contact-section{
   margin-top:100px ;
}
.flex-con{
    display: flex;
    justify-content: center;
    padding: 39px 100px;
    gap: 100px;
}
#mess p{
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: 400px;
    margin-top: 100px;
}
#mess img{
    width:435px ;   
}
form{
    display: grid;
    gap: 10px;
    width: 450px;
}
label{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
input{
    width: 483px;
    height: 53px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    border: 3px solid rgb(31, 29, 29);
    font-weight: 700;
    padding: 10px;
}
textarea{
    height: 150px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    border: 3px solid rgb(31, 29, 29);
    font-weight: 700;
    padding: 10px;
}
.but-sec{
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    border: 3px solid rgb(255, 255, 255);
    font-weight: 700;
    transition: 1s ease-in-out;
}
.but-sec:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
}
footer{
    height: 150px;
    background-color: rgb(0, 0, 0);
    opacity: ;
    color: rgb(255, 255, 255);
}
.log{
    display: flex;
    gap: 100px;
    margin: 0px 200px;
}
.log h1{
    font-size: 20px;
    padding: 30px 0px;
    justify-content: center;
}
.log i{
    font-size: 18px;
    margin: 0 10px;
    color: white;
}
.foot{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-weight: 200px;
    font-size: 10px;
}
