/*carousel section*/
.red3{display: flex; margin: 70px auto;}
.red4{height: 2px; width: 300px; background-color: rgb(255, 0, 0);}
.card-group h1{
    text-align: center;
    margin: 0 40px;
    color: white;
    font-size: 60px;
    font-weight: 700px;
}
.card-group{
    display: grid;
}
.main-pic{display: flex; justify-content: space-around;}

.pic{
    display: grid;
    margin: 30px 0;
}
.pic img{
    width: 200px;
    border-radius: 300px;
    position: relative;
}
.back{
    background-color: rgb(70, 66, 66);
    width: 380px;
    height: 250px;
    border-radius: 10px;
    z-index: 2;
    margin-top: -90px;
    margin-left: 80px;
    opacity: 0.9;
}
.pic p{
    padding-left: 25px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.pic .icon{
    margin-left: 25px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
}
@media (max-width:51.25em){
    .red3{margin: 40px 110px;}
    .red4{width: 80px;}
.main-pic{display: grid;}
.pic{
    display: grid;
    margin: 30px 0;
}.pic5{display: none;}
.pic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 30px;
    top: 27px;
    z-index: 10;
    box-shadow: -4px 5px 4px 0px #00000040;
}
.back{
    width: 230px;
    height: 170px;
    margin: 0 auto;
}
.pic p{
    font-size: 10px;
    line-height: 20px;
    text-align: left;
    padding-left: 13px;
}
.pic .icon{
    margin-top: 10px;
    font-size: 6px;
    display: flex;justify-content: space-between;
}
}
@media (max-width: 15.9em){
.what-flex{display: flex; margin: 0 30px;}
}



/*footer section*/
footer{
    height: 150px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.log{
    display: flex;
    gap: 100px;
    margin: 0px 200px;
}
.log h1{
    font-size: 20px;
    padding: 30px 0px;
    justify-content: center;
}
.log i{
    font-size: 18px;
    margin: 0 10px;
    color: white;
}
.foot{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-weight: 200px;
    font-size: 10px;
}
@media(max-width: 51.25em){
    .log{display: flex; gap: 0px; margin: 0 40px;}
    .log h1{
        font-size: 20px;
        padding: 10px 0px;
    }
    .foot{
        display: flex;
        gap: 10px;
        font-size: 10px;
        justify-content: left;
    }
    footer{width: 100%;}
}
@media(max-width: 15.9em){
    .log{display: grid; gap: 0px; margin: 0 40px;}
    .log h1{
        font-size: 20px;
        padding: 10px 0px;
    }
    .foot{
        display: flex;
        gap: 10px;
        font-size: 10px;
        justify-content: left;
    }
    footer{width: 100%;}
}