@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*Utilities section*/

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    line-height: 1.6;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    color: rgb(0, 0, 0);
}
@media(max-width: 51.25em){
    body{background-color: rgb(255, 255, 255);}
}
@media(max-width:15.9){
    body{background-color: #ffffff;}
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
h1, h2{
    line-height: 1.2;
}
.h3{
    color: #667b8e;
}
p{
    margin: 10px 0;
    
}
img{
    margin: 0 0;
    width: 100%;
}
button{cursor: pointer;}


/*Nav section*/
.nav{
    display: flex;
    justify-content: space-around;
    margin-top: 39px;
    margin-bottom: 34px;
}
.logo{
    width: 150px;
    font-size: 27px;
    font-weight: 700;
    line-height: 40px;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
 
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.left-nav{
    display: flex;
    gap: 40px;
}
.align{display: none;}
.dark-but{border-radius: 20px; border: none; background-color: rgb(253, 252, 252); width: 30px; font-size: 30px;}
.dark-mode{
    background-color: #000000;
    color: #ffffff;
}
.dark-mode a{color: white;}
.dark-mode .sec h1{ color: white;}
.dark-mode .sec p{ color: white;}
.dark-mode #mess p{ color: white;}
.dark-mode label{ color: white;}
.dark-mode .hover-underline-animation:after {
    background-color: #ffffff;
  }
  
  
  @media(max-width: 51.25em){
    .logo{
        margin: 0 45px;
    }
    .left-nav{display: none;}
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .align{display: flex; 
        margin: 0 50px; gap: 10px;}
        .align i{font-size: 30px; border: none;}
}
@media (max-width: 15.9em){
    .logo{
        margin-left: 10px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .align{display: flex; font-size: 24px; margin-right: 00px; gap: 10px;}

  }
/*top section*/
.top-section{
    display: flex;
    justify-content: space-around;
    height: 500px;
    max-width: 1030px;
    box-shadow: -4px 5px 4px 0px #00000040;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #F0F0F5;
}
.laptop{
    display: grid;
    margin-top: 69px;
    width: 400px;
    height: auto;
    
}
.text{display: grid; margin-top: 108px;margin-top: 108px;}
.name{
    font-size: 49px;
    font-weight: 700;
    line-height: 57px;
    color: black;
}
.web{
    position: relative;
    bottom: 40px;
    color: #696969;
    margin-bottom:40px;
    font-size: 29px;
    font-weight: 600;
    line-height: 43px;
}
.buts{
    position: relative;
    bottom: 80px;
}
#but1{
    height: 50px;
    width: 185px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    border-radius: 4px;
    box-shadow: -4px 5px 4px 0px #00000040;
}
#but1:hover{
   height: 80px;
    transition: .7s ease-in-out;
    font-size: 24px;
    
}
#but2{
    height: 50px;
    width: 185px;
    border: none;
    border-radius: 4px;
    background-color:hsl(252, 84%, 58%);
    color: #ffff;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    box-shadow: -4px 5px 4px 0px #00000040;
}
#but2:hover{
    height: 80px;
     transition: .7s ease-in-out;
     font-size: 24px;   
 }
@media (max-width:51.25em){
    .top-section{
        display: grid;
        height: 700px;
    }
    .name{
        text-align: center;
        font-size: 39px;
        margin-bottom: 15px;
    }
    .web{
        text-align: center;
        font-size: 16px;
    }
    .buts{
        display: grid;
        margin: 0 auto;
    }
    #but1{
        width: 140px;
        margin: 20px 0;
    }
    #but2{
        width: 140px;
    }
    .laptop{
        width: 300px;
        margin-top: -60px;
    }
}
@media(max-width:15.9em){
    .top-section{
        width: 360px;
        height: 680px;
    }
}

 /*Project section*/
.project{
    display: flex;
    justify-content: space-around;
    width: 1030px;
    margin: 0% auto;
}
.project2{display: none;}
.line{
    border: 3px thin #F0F0F5; margin: 55px auto; width: 1030px; height: 1px; background-color: #F0F0F5;
}
.forty h1{
    font-size: 49px;
    font-weight: 700;
    line-height: 57px;
}
.forty p{
    color: #b1a9a9;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width:51.25em){
    .project{display: none;}
    .project2{
        display: grid;
        text-align: center;
        margin: 0px auto;
        justify-content: center; gap: 10px;
    }
    .cont{display: flex; justify-content: space-around;}
    .line{width: 400px;}
    .forty h1{font-size: 30px; line-height: 30px;}
    .forty p{font-size: 14px;}
}
@media (max-width:15.9em){
    .line{width: 360px;}
}

/*About me section*/
.about-section{
    display: flex;
}
.sec{
    display: flex;
    justify-content: space-evenly;
    margin: 93px auto;
}
.bit{

}
.bit2{
    height: 27px; width: 205px; 
    background-color: #5E3AEE;
}
.sec h1{
    color: rgb(0, 0, 0);
    font-size: 49px;
    line-height: 73px;
    font-weight: 700;
}
.sec p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    line-height: 43px;
    font-weight: 400;
}
.phone img{
    position: relative;
    bottom: 29px;
    left: 30px;
    width: 485.5px;
}
@media (max-width: 51.25em){
    .sec{display: grid; margin: 10px auto;}
    .bit{margin-bottom: 20px;}
    .bit2{
        height: 17px; width: 150px; margin: 0 auto
    }
    .sec h1{font-size: 32px; line-height: 38px; text-align: center;}
    .sec p{font-size: 18px; line-height: 32px; text-align: center;}
    .phone img{width: 356px; margin: 30px 10px;}
}
@media (max-width: 15.9em){
    .phone img{width: 300px; margin: 30px 0px;}
}

/*Skills section*/
.skills{
    display: grid;
    padding-bottom: 100px;
    
}
.red1{display: flex; margin: 70px auto;}
.red2{height: 2px; width: 300px; background-color: rgb(255, 0, 0);}
.skillset{font-size: 60px;}
.iconc{display: grid;gap: 20px;}
.ico{display: flex; justify-content: space-around; font-size: 150px; color: cadetblue;}
@media (max-width:51.25em){
    .red1{margin: 40px auto;}
    .red2{width: 80px;}
    .skillset{font-size: 20px;}
    .ico{font-size:40px;}
}